:root{
    --color-primary: #ce9b00;
    --color-primary-hover: #eaaf00;

    --color-text: #EEE;

    --color-background: #333;
    --color-background-light: #CCC;


    --ff: "Oswald", sans-serif;
    
    --xs-font:  1rem/1.5rem var(--ff);
    --s-font:  bold  1.25rem/1.75rem var(--ff);
    --m-font: bold  1.5rem/2rem var(--ff);
    --l-font: bold 1.75rem/2.25rem var(--ff);
    --xl-font: bold 2.5rem/3rem var(--ff);
    --xxl-font: bold 3.75rem/4.25rem var(--ff);

    --h3: 1.1rem/1.6rem var(--ff);
    --h3-hover: 1.3rem/1.8rem var(--ff);

    --xs-spacing: 0.5rem;
    --s-spacing: 0.75rem;
    --m-spacing: 1rem;
    --l-spacing: 1.5rem;
    --xl-spacing: 2rem;
    --xxl-spacing: 3.5rem;

    --box-shadow: 0rem 0rem 1rem var(--color-primary);

    --border-radius: .5rem
}

*{
    margin: 0px;
    padding: 0px;
}

@keyframes fadeIn{
    from{
        scale: .8;
        opacity: 0;
       
    }
    to{
        scale: 1;
        opacity: 1;
   
    }
}

@keyframes slideIn{
    from{
        
        opacity: 0;
        transform: translateX(-100px);
       
    }
    to{
      
        opacity: 1;
        transform: translateX(0px);
    }
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-text);
    background-color: var(--color-background);
}

.section-divider{
    color: var(--color-primary);
    font: var(--l-font);
    transition: 0.5s;
}

/* Sidebar Section */
.sidenav{
    position: fixed;
    top: 60px;
    right: 10px;
    height: max-content;
    padding: var(--m-spacing);
    display: none;
    flex-direction: column;
    z-index: 3;
    transition: 0.5s;
    border-radius: var(--border-radius);
    background-color: #555;
}

.sidenav .sidenav-header{
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.sidenav .sidenav-body{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.sidenav-body .sidenav-item{
    margin-top: var(--s-spacing);
    padding: 0.2rem;
    padding-left: 1rem;
    font: var(--s-font);
    border-radius: var(--border-radius);
    transition: ease 0.3s;
}

.sidenav-item:hover{
    background-color: #ce9b00;
}

/* Header Section */
header{
    position: fixed;
    top: 1;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: var(--color-background);
}

.header-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--m-spacing);
}

.header-body{
    padding: var(--m-spacing);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--l-spacing);
}

.header-body .header-nav{
    display: none;
    gap: var(--m-spacing);
    transition: 0.5s;
   
}

.header-title{    
    font: var(--l-font);
    letter-spacing: 1px;
    cursor: pointer;
}

.header-nav-item{
    font: var(--h3);
    transition: 0.8s;
    cursor: pointer;
}

.header-nav-item:hover{
    color: var(--color-primary);
    font: var(--h3-hover);
}

.header-action-bar-btn{
    padding: var(--xs-spacing);
    display: flex;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.header-action-bar-btn:hover{
    background-color: #444;
}

/* Main Section ---------------------------------------------------------------------------*/
main{
    height: 100%;
    width: 100%;
}

.main-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DDD;
}

/* Landing Section */
.main-landing{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.main-landing img{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
}

.landing-quote{
    margin: 0 var(--m-spacing);
    text-align: center;
    flex-basis: 60ch;
}

.landing-quote h1{
    margin-bottom: var(--m-spacing);
    color: var(--color-text);
    font: var(--xl-font); 
    transition: ease 0.5s;
    animation: slideIn 1s;
}

.landing-quote p{
    color: var(--color-text);
    font: var(--s-font);
    transition: ease;
}

/* Property Section --------------------------------------------------------------------------- */
.properties-section-divider{
    width: 90%;
    padding:  var(--l-spacing);
    display: flex;
    align-items: end;
    justify-content: space-between;
    animation: slideIn 0.5s;
    animation-timeline: view(100px 0px);
}

.properties-section-divider .see-more-properties{
    color: #DDD;
    font: var(--xs-font);
    text-decoration: underline;
    cursor: pointer;
}

.see-more-properties:hover{
    color: var(--color-primary);
}

.main-properties{
    width: 100%;
    padding-bottom: var(--xxl-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-top: 1px solid #CCC;
}

.properties-container{
    width: 100%;
    padding: var(--s-spacing);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--xs-spacing);
    border-radius: var(--border-radius);
}

.property-item{
    position: relative;
    min-width: 400px;
    margin: var(--m-spacing);
    border-radius: var(--border-radius);
    background-color: #EEE;
    cursor: pointer;
    transition: ease-in;
    animation: fadeIn 1.5s;
    animation-timeline: view(600px 10px);
}

.property-item .property-img{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.property-item .property-details{
    padding-left: var(--s-spacing);
    padding-bottom: var(--s-spacing);
    color: #222;
}

.property-details .property-price{
    font: var(--m-font);
}

.property-price:hover{
    color: var(--color-primary);
}

.property-details .property-location{
    padding-bottom: var(--xs-spacing);
    display: flex;
    gap: var(--s-spacing);
    font: var(--s-font);
}


.property-details .property-stats{
    position: relative;
    padding: var(--xs-spacing) ;
    display: flex;
    align-items: center;
    gap: var(--s-spacing);
    font: var(--xs-font);
}

.property-stats .property-status{
    position: absolute;
    right: 0;
    display: flex;
    gap: 0.5rem;
    margin-right: var(--xl-spacing);
    padding: var(--xs-spacing) var(--s-spacing);
    border-radius: var(--border-radius);
    color: var(--color-text);
    background-color: var(--color-background);
}

.property-status .material-symbols-outlined{
    color: forestgreen;
}


/* Agents Section ---------------------------------------------------------------------------*/
.main-agents{
    width: 100%;
    max-width: 1650px;
    padding-bottom: var(--xxl-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-top: 1px solid #CCC;
}

.agents-section-divider{
    width: 90%;
    padding:  var(--l-spacing);
    display: flex;
    align-items: end;
    justify-content: space-between;
    animation: slideIn 1s;
    animation-timeline: view(100px 0px);
}

.agent-section-quote{
    width: 90%;
    padding-bottom: var(--s-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: var(--s-font);
}

.agents-container{
    padding: var(--s-spacing);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--s-spacing);
    border-radius: var(--border-radius);
}

.agent-item{
    position: relative;
    min-width: 250px;
    border-radius: var(--border-radius);
    background-color: #EEE;
    transition: 0.3s;
    cursor: pointer;
    animation: fadeIn 1s;
    animation-timeline: view();
}

.agent-item:hover{
    box-shadow: var(--box-shadow);
}


.agent-item .agent-img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.agent-item .agent-details{
    padding-left: var(--s-spacing);
    padding-bottom: var(--s-spacing);
    font: var(--m-font);
    color: #222;
    border-radius: var(--border-radius);
}

.agent-details .agent-profession{
    font: var(--xs-font);
}


/* About Section ---------------------------------------------------------------------------*/
.main-about{
    width: 100%;
    padding-bottom: var(--xxl-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-top: 1px solid #CCC;

}

.about-section-divider{
    width: 90%;
    padding:  var(--l-spacing);
    display: flex;
    align-items: end;
    justify-content: space-between;
    animation: slideIn 1s;
    animation-timeline: view(100px 0px);
}

.about-container{
    width: 90%;
    max-width: 1280px;
    padding: var(--s-spacing);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--s-spacing);
    border-radius: var(--border-radius);
}


.about-img{
    position: absolute;
    padding-left: var(--m-spacing);
    height: 500px;
    width: 80%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 0;
}

.about{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 40ch;
    z-index: 2;
}

.about-header{
    padding-bottom: var(--m-spacing);
    color: var(--color-primary);
    font: var(--l-font);
}

.about .about-sub-header{
    padding-bottom: var(--l-spacing);
    flex-wrap: nowrap;
    font: var(--s-font);
}

.about .about-description{
    padding-bottom: var(--l-spacing);
    font: var(--xs-font);
}

.about-bullet-point{
    padding: var(--l-spacing);
    padding-bottom: var(--xxl-spacing);
    font: var(--xs-font);
}

.point{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.about-learn-more{
    font-size: var(--s-font);
    padding: var(--m-spacing);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    cursor: pointer;
}


.about-learn-more:hover{
    background-color: var(--color-primary-hover);
}

/* News Section ---------------------------------------------------------------------------*/
.main-services{
    width: 100%;
    padding-bottom: var(--xxl-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-top: 1px solid #CCC;
}

.services-section-divider{
    padding: var(--l-spacing);
}

.service-container{
    width: 90%;
    max-width: 1280px;
    padding: var(--s-spacing);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--s-spacing);
    border-radius: var(--border-radius);
}

.service-item{
    padding: var(--s-spacing);
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    animation: fadeIn 1s;
    animation-timeline: view(600px 0px);
}

.service-item:hover{
    box-shadow: var(--box-shadow);
}

.service-item .material-symbols-outlined{
    padding-top: var(--s-spacing);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary-hover);
}

.item-details .detail-header{
    padding-bottom: var(--xs-spacing);
    font: var(--m-font);
    color: var(--color-primary-hover);

}

.item-details .detail-body{
    padding-bottom: var(--m-spacing);
    font: var(--xs-font);
}

.item-details .detail-learn-more{
    color: var(--color-primary);
}
.detail-learn-more:hover{
    color: var(--color-primary-hover);
}

/* Contact Section ---------------------------------------------------------------------------*/
.main-contact{
    width: 100%;
    padding-bottom: var(--xxl-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-top: 1px solid #CCC;
}

.contact-section-divider{
    padding: var(--l-spacing);
}

.contact-container{
    width: 100%;
    max-width: 1280px;
    padding: var(--s-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--s-spacing);
    border-radius: var(--border-radius);
}

.contact-form{
    padding: var(--xl-spacing);
    border-radius: var(--border-radius);
    background-color: #444;
    animation: slideIn 1s;
    animation-timeline: view(600px 0px);
}

.contact-form-title{
    padding-bottom: var(--m-spacing);
    font: var(--l-font);
}

.contact-form-input{
    padding: var(--xs-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--xs-spacing);
    font: var(--xs-font);
    border-radius: var(--border-radius);
}

.contact-form-input input{
    height: 40px;
    padding: 0px var(--m-spacing);
    font: var(--xs-spacing);
    border: none;
    border-radius: var(--border-radius);
}

.contact-form-input .message{  
    padding: var(--s-spacing);  
    font: var(--xs-spacing);
    border: none;
    border-radius: var(--border-radius);
}

.contact-form .contact-send-btn{
    max-width: fit-content;
    margin-top: var(--s-spacing);
    padding: var(--s-spacing);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    cursor: pointer;
}

.contact-send-btn:hover{
    background-color: var(--color-primary-hover);
}


.contact-details{
    padding: var(--xl-spacing);
    border-radius: var(--border-radius);
    background-color: #444;
    animation: fadeIn 1s;
    animation-timeline: view(600px 0px);
}

.contact-address{
    padding-bottom: var(--m-spacing);
}

.contact-address h3{
    padding-bottom: var(--xs-spacing);
    font: var(--s-font);
    color: var(--color-text);
}

.contact-phone{
    padding-bottom: var(--m-spacing);
    color: var(--color-primary);
    cursor: pointer;
}

.contact-phone:hover{
    color: var(--color-primary-hover);
}

.contact-phone h3{
    padding-bottom: var(--xs-spacing);
    font: var(--s-font);
    color: var(--color-text);
}

.contact-email-address{
    padding-bottom: var(--m-spacing);
    color: var(--color-primary);
    cursor: pointer;
}

.contact-email-address:hover{
    color: var(--color-primary-hover);
}

.contact-email-address h3{
    padding-bottom: var(--xs-spacing);
    font: var(--s-font);
    color: var(--color-text);
}

/* Footer Section ---------------------------------------------------------------------------*/
footer{
    border-top: 1px solid #CCC;
    background-color: var(--color-background);
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--s-spacing);
    border-radius: var(--border-radius);
}

.footer-body{
    width: 90%;
    padding: var(--l-spacing);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-statement{
    padding: var(--s-spacing);
    display: flex;
    flex-direction: column;
}

.footer-statement h3{
    padding-bottom: var(--s-spacing);
    color: #CCC;
    font: var(--s-font);
}

.footer-statement p{
    color: #888;
    font: var(--xs-font);
}

.footer-quick-links{
    padding: var(--m-spacing);
    display: none;
    flex-basis: 20ch;
    flex-direction: column;
    align-items: start;
    gap: var(--s-spacing);
}

.footer-quick-links .h3{
    color: #CCC;
    font: var(--s-font);
}

.footer-quick-links p{
    color: #888;
    font: var(--xs-font);
    cursor: pointer;
    animation: slideIn 1s;
    animation-timeline: view(600px 0px);
}

.footer-quick-links p:hover{
    color: var(--color-primary-hover);
}

.footer-subscription{
    min-width: 250px;
    padding: var(--m-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing);
}

.footer-subscription h3{
    color: #CCC;
    font: var(--s-font);
}

.subscription-input{
    height: 40px;
    padding: 0px var(--s-spacing);
    font: var(--xs-font);
    border-radius: var(--border-radius);
}

.send-sub{
    width: fit-content;
    padding: var(--xs-spacing);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    cursor: pointer;
}

.send-sub:hover{
    background-color: var(--color-primary-hover);
}

.socials{
    display: flex;
    flex-direction: column;
    gap: var(--s-spacing);
}

.social-links{
    font: var(--xs-font);
    cursor: pointer;
}

.social-links .material-symbols-outlined:hover{
    color: var(--color-primary-hover);
}

.footer-copyright{
    width: 100%;
    padding: var(--xl-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    text-align: center;
    border-top: 1px solid #444;
}

/* Media Query Large Screen */
@media (min-width: 700px){

    .header-body .header-nav{
        display: flex;
        gap: var(--l-spacing);
    }
    
    
    .header-action-bar-btn{
        display: none;
    }

    .landing-quote h1{
        font: var(--xxl-font);
    }

    .section-divider{
        font: var(--xl-font);
    }

    .property-item{
        margin: 0px var(--m-spacing);
    }

    .property-item .property-img{
        height: 450px;
        min-width: 650px;
        object-fit: cover;
        border-radius: var(--border-radius);
    }


    .agent-section-quote{
        font: var(--l-font);
    }

    .about-container .about-img{
        position: relative;
        height: 600px;
        width: 45%; 
        object-fit: cover;
        opacity: 0.7;
        border-radius: var(--border-radius);
        z-index: 0;
    }

    .about{
        flex-basis: 50ch;
    }

    .about-header{
        font: var(--xl-font);
    }

    .service-container{
        width: 90%;
        max-width: 900px;
        padding: var(--l-spacing);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--m-spacing);
        border-radius: var(--border-radius);
    }

    .contact-container{
        display: flex;
        flex-direction: row;align-items: start;
    }


    .footer-body{
        max-width: 1080px;
    }

    .footer-statement{
        flex-basis: 30ch;
    }

    .footer-statement h3{
        font: var(--m-font);
    }

    .footer-statement p{
        font: var(--s-font);
    }

    .footer-quick-links h3{
        font: var(--m-font);
    }

    .footer-quick-links p{
        font: var(--xs-font);
    }

    .footer-subscription{
        width: 20%;
    }

    .footer-subscription h3{
        font: var(--m-font);
    }


    .footer-quick-links{
        display: flex;
    }

}

@media (min-width: 1440px){

    .properties-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .property-item .property-img{
        height: 450px;
        min-width: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-background);
  }